{% extends 'base.html' %}
{% block content %}
<div class="container" id="signup-container">
  <h1 class="title is-1">Sign Up</h1>
  <p class="subtitle">You're one step away from starting your Pikachu collection!</p>
  <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit" class="btn">Submit!</button>
  </form>
  <h3 class="title is-3">Have an account?</h3>
  <button class="btn" href="{% url 'login' %}">Log In!</button>
</div>
{% endblock %}

