
/* ================ */
/* ==== GLOBAL ==== */
/* ================ */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  }
main {
  flex: 1 0 auto;
  font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5 {
  font-weight: 900;
  font-family: 'Exo', sans-serif;
}
a:link, a:visited {
  color: #333;
}
a:hover {
  color: goldenrod;
}
footer {
  padding-top: 0;
  text-align: right;
}

/* =============== */
/* BULMA OVERRIDES */
/* =============== */
/* .has-dropdown {
  margin-left: 2rem;
} */
.navbar a:link, a:visited {
  color: goldenrod;
  font-weight: 900;
}
.navbar a:hover {
  color: #333;
}
.box {
  margin: 50px;
}