{% extends 'base.html' %}
{% block content %}
<div class="container" id="profile-container">

    <h1 class="title is-1">Hello,  {{ user.username }}! </h1>
    <a href="{% url 'profile_form'%}" class="profile-link">Edit My Profile</a>
    
    <h3 class="title is-3">My Poffins: 
        <span class="poffin-count">{{ user.profile.poffins }}</span></p>
    </h3>
    <a href="{% url 'catch'%}" class="profile-link">Buy More Poffins</a>
    
    <h3 class="title is-3">My Pikachus</h3>
     <a href="{% url 'catch'%}" class="profile-link">Catch More Pikachus</a>
   
    <div class="tile is-ancestor my-pikas">
    {% comment %} {{user.profile.pikachu.all}} {% endcomment %}
    {% for pika in user.profile.pikachu.all %}
        <div class="tile is-parent is-3">
            <div class="tile is-child box pikabase-container">
                <h4 class="title is-4">{{pika.name}}</h4>
                <img src="{{pika.pic}}">
            </div>
        </div>
    {% endfor %}
   
</div>
{% endblock %}