profile{% extends 'base.html' %}
{% block content %}
<img src="https://images-na.ssl-images-amazon.com/images/I/619FF-ONnuL._AC_SX425_.jpg" style="width: 30px; height: 30px;" alt="pokeball"></img>
<h1>Hey {{ user.username }}! Here is your Profile </h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ profile.name }}</span>
        <p>Pika: {{ pika.name }}</p>
        <p>Description: {{ pika.pic }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'update_profile' pika.id %}">Edit</a>
        <a href="{% url 'delete_profile' pika.id %}">Delete</a>
      </div>
    </div>
  </div>
{% endblock %}