{% extends 'base.html' %}
{% block content %}
<div class="vh-container" id="about-links">
    <section class="section">
        <a class="profile-link" href="#about-pikatsume">
           <i class="fas fa-bolt"></i> About Pikatsume</a>
        <br />
        <a class="profile-link" href="#our-dev-team">
            <i class="fas fa-bolt"></i> Our Dev Team</a>
    </section>
</div>

<div class="vh-container" id="about-pikatsume">
    <section class="section">
        <h2 class="title is-2">About Pikatsume</h1>
        <h3 class="title is-3">Pikatsume?</h3>
        <p>Atsume (集め, あつめ) = Japanese word for "Collecting"</p>
        <p>Pika(ピカ) = For Pikachu, duh.</p>
        <a class="profile-link" href="#about-links">Back to the top</a>
   </section>
</div>

<div class="container is-centered" id="our-dev-team">
    <section class="section">
        <h2 class="title is-2">Our Dev Team</h2>
        <br />
        <div class="columns">
            <div class="column is-4">
                <div class="card dev-card" id="cat-card">
                    <div class="card-image">
                        <figure class="image">
                            <img  src="https://i.ibb.co/z4gw8jd/surprisedpika.jpg" alt="a pikachu" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">Cat Carbonell</p>
                        <p class="subtitle">Fullstack Developer <br /> UX/UI Designer</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card dev-card" id="jacob-card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://i.ibb.co/fCNpndG/bass-chu.png" alt="a pikachu" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">Jacob Kleiman</p>
                        <p class="subtitle">Fullstack Developer</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card dev-card" id="johnson-card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://i.ibb.co/XSBHnDF/cool-chu.png" alt="a pikachu" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">Johnson Thieu</p>
                        <p class="subtitle">Fullstack Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <a class="profile-link" href="#about-links">Back to the top</a>
    </section>
</div>



{% endblock %}