{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(o^.^o)Pikatsume!</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Exo|Inter:200,300,400,500,600,700,800,900&display=swap"" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
  <body>
      <header class="navbar-fixed">
          <nav>
            <div class="nav-wrapper">
              <ul>
                {% comment %} <li><a href="{% url 'catch' %}">Catch A Pikachu!</a></li> {% endcomment %}
                {% if user.is_authenticated %}
                  <li><a href="{% url 'profile' %}">My Profile</a></li>
                  <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                  <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
               </ul>
            </div>
          </nav>
      </header>
      <main>
        <section class="section">
          {% block content %}
          {% endblock %}
        </section>
      </main>
      <footer>&copy; 2020 Pika Pika</footer>
  </body>
</html>