{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(o^.^o)Pikatsume!</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Mouse+Memoirs|Inter:200,300,400,500,600,700,800,900&display=swap"" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
  <body>
      <header class="navbar-fixed">
          <nav>
            <div class="nav-wrapper">
              <ul>
                <li><a href="/" class="left brand-logo bold">Pikatsume!</a></li>
              </ul>
              <ul class="right">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'index' %}">View the Pikabase</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'new_pika' %}">Add a Pikachu</a></li>
                  <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                  <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
               </ul>
            </div>
          </nav>
      </header>
      <main class="container">
          {% block content %}
          {% endblock %}
      </main>
      <footer>&copy; 2020 Pika Pika</footer>
  </body>
</html>