{% extends 'base.html' %}
{% block content %}
    <div class="catch_1">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpokemonmmo.fandom.com%2Fwiki%2FGetting_your_first_5_PokeBalls.&psig=AOvVaw00LBH8VCuU5LgrLsCJBlfF&ust=1584916413215000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLCIzPfPrOgCFQAAAAAdAAAAABAD" alt="pokeball"></img>
        <a href="{% url 'catch_confirm' %}"><button>Catch a Pikachu (5 Poffins)</button></a>
        <a href="#"><button>Buy More Poffins</button></a>
    </div>
{% endblock %}