{% extends 'base.html' %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-half vh-container" id="catch-container">
    <h2 title="title is-2">Congratulations!</h2>
    <h3 title="title is-3">You caught...</h3>
    <h2 title="title is-2">{{pika.name}}</h2>
    <img src="{{pika.pic}}" alt="pikachu" />

    <a class="btn catch-btn" href="{% url 'catch_confirm' %}">Catch Another!</a>
    <a class="btn catch-btn" href="#">Buy More Poffins</a>
    <a class="btn catch-btn" href="#">View Collection</a>
    </div>
</div>
{% endblock %}